.card {
  display: flex;
  flex-wrap: wrap;
  &-item {
    padding: 10px;
  }
  &-title {
    padding: 0 10px;
    margin: 0 auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: chocolate;
  }
}

.card img {
  min-height: 300px;
  max-height: 300px;
}

.card-session {
  border: 2px solid #7282e2;
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
    
  }
  &-title {
    color: #ec4151;

  }
  &-room {
    width: 50%;
    margin: 20px auto;

  }
  &-time {
    color: #f36f7b;
    font-size: 18px;

  }
}

.session-date {
  text-align: center;
  margin: 10px;
  color: #72e272;
}