.header {
<<<<<<< HEAD
  display: flex;
  align-items: center;
  height: 40px;
}
=======
    display: flex;
    // justify-content: space-between;
    height: 20px;
    background-color: aqua;
  }
>>>>>>> 80b14fd21ef1f4f90332aa72f87fe0fa6996225d
