.nav-item {
    padding: 0 12px;
    text-decoration: none;
    color: #158dc5;
  }
  
  .nav-item:active {
      color: #f63e30;
      text-decoration: none;
  }
  
  .nav-item:hover {
      color: #f63e30;
      text-decoration: none;
  }