.nav-item {
    padding: 0 12px;
    text-decoration: none;
  }
  
  .nav-item.is-active {
      color: #f63e30;
      text-decoration: none;
  }
  
  .nav-item:hover {
      color: #f63e30;
      text-decoration: none;
  }