.nav-item {
    padding: 0 12px;
    text-decoration: none;
<<<<<<< HEAD
    color: #158dc5;
  }
  
  .nav-item:active {
=======
  }
  
  .nav-item.is-active {
>>>>>>> 80b14fd21ef1f4f90332aa72f87fe0fa6996225d
      color: #f63e30;
      text-decoration: none;
  }
  
  .nav-item:hover {
      color: #f63e30;
      text-decoration: none;
  }